{% extends "bootstrap_4_horizontal_layout.html.twig" %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
                {% if attr.help is defined %}
                    <span class="text-muted">{{ attr.help }}</span>
                {% endif %}
            </div>
        </div>
    {%- endif -%}
{%- endblock form_row %}

{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{% block form_label_class -%}
    col-sm-2 text-right font-weight-bold
{%- endblock form_label_class %}
