<div class="row">
    <div class="col-lg-6">
        {% if forceIframe | default(false) %}
            <iframe width="560" height="315" src="{{ lecture.videoUrl }}?html5=1" frameborder="0" allowfullscreen></iframe>
        {% else %}
            <img
                class="video-thumbnail"
                style='width:560px; height:315px; cursor: pointer;'
                src="{{ lecture.videoThumbnailUrl }}"
                data-iframe-url="{{ lecture.videoUrl }}?html5=1&autoplay=1"
            />
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h4>
            <a href="{{ path('LectureDetails', { 'id': lecture.id }) }}">
                {{ lecture }}
            </a>
            <em>- <a href="{{ path("LectureList", { "lecturers": lecture.lecturer.id }) }}">{{ lecture.lecturer }}</a></em>
        </h4>

        <p>{{ lecture.teaser }}</p>

        <p>
            {{ 'Дисциплина' | trans }}: <a class="text-uppercase" href="{{ path("LectureByField", { "id": lecture.field.id }) }}">{{ lecture.field }}</a>
        </p>

        {% if lecture.tags|length > 0  %}
            <p>
            {{ 'Теги' | trans }}:
            {% for tag in lecture.tags  %}
                <a href="{{ path("LectureList", { "tags": tag.id }) }}">{{ tag }}</a>&nbsp;
            {% endfor %}
        </p>
        {% endif %}


        {% if lecture.hasDiscussionVideo() %}
        <p>
            <a href="{{ lecture.discussionVideoFullUrl }}">
                {{ 'Смотреть обсуждение' | trans }}
            </a>
        </p>
        {% endif %}

        <p class="small">
            <a href="{{ path("LectureList", { "events": lecture.event.id }) }}">{{ lecture.date | date }}</a>,
            <a href="{{ path("EventByCity", { "id": lecture.city.id }) }}">{{ lecture.city | trans }}</a>
            <span
                class="pull-right fb-share-button"
                style="margin-right: 3px;"
                data-href="{{ url("LectureDetails", { "id": lecture.id }) }}"
                data-layout="button"
            >
            </span>
            <span
                class="pull-right vk-share-button"
                style="margin-right: 3px;"
                data-href="{{ url("LectureDetails", { "id": lecture.id }) }}"
            >
            </span>
        </p>

        <hr/>

        <p>
            {% if (is_granted('ROLE_USER')) %}
                {% include 'shared/lecture-likes-auth.html.twig' %}
            {% else %}
                {% include 'shared/lecture-likes-noauth.html.twig' %}
            {% endif %}
        </p>
    </div>
</div>
