<div class="row text-center" style="font-size: 150%;">
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-thumbs-up tooltip-toggle"
            data-title="Нравится"
        ></span> {{ lecture.likesCount }}
    </div>
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-thumbs-down tooltip-toggle"
            data-title="Не нравится"
        ></span> {{ lecture.dislikesCount }}
    </div>
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-star tooltip-toggle"
            data-title="Избранное"
        ></span> {{ lecture.favsCount }}
    </div>
    <div class="col-lg-3">
        <span
            class="glyphicon glyphicon-comment tooltip-toggle"
            data-title="Комментарии"
        ></span>
        <span>{{ lecture.commentsCount }}</span>
    </div>
</div>
<br/>
<i class="text-muted pull-right" style="font-size: 90%;">
    <a href="{{ path('hwi_oauth_connect') }}" style="color: orangered; text-decoration: underline;">Войдите</a>, чтобы проголосовать за лекцию или добавить её в избранное
</i>
