<div class="plate" style="background-image: url('{{ lecture.videoThumbnailUrl }}');">
    <a href="{{ path('LectureDetails', { 'id': lecture.id }) }}">
        <div class="plate-details">
            <p class="plate-main">
                {{ lecture.title }}
            </p>
            <p class="plate-main">
                <i class="small">{{ lecture.lecturer }}</i>
            </p>
            <p class="text-justify">
                {{ lecture.teaser }}
            </p>
        </div>
    </a>
</div>
