<div class="row">
    <div class="col-lg-6">
        <iframe width="560" height="315" src="{{ lecture.videoUrl }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <h4>{{ lecture }}</h4>

        <p>
            Дисциплина: <a class="text-uppercase" href="{{ path("LectureByField", { "id": lecture.field.id }) }}">{{ lecture.field }}</a>
        </p>

        {% if lecture.tags|length > 0  %}
        <p>
            Теги:
            {% for tag in lecture.tags  %}
                <a href="{{ path("LectureList", { "tags": tag.id }) }}">{{ tag }}</a>&nbsp;
            {% endfor %}
        </p>
        {% endif %}

        <p>{{ lecture.teaser }}</p>

        <hr/>

        {% if lecture.hasDiscussionVideo() %}
        <p>
            <a href="{{ lecture.discussionVideoFullUrl }}">
                Смотреть обсуждение
            </a>
        </p>
        {% endif %}

        <p class="small">
            <a href="{{ path("LectureList", { "events": lecture.event.id }) }}">{{ lecture.date | date }}</a>,
            <a href="{{ path("EventByCity", { "id": lecture.city.id }) }}">{{ lecture.city }}</a> -
            <em><a href="{{ path("LectureList", { "lecturers": lecture.lecturer.id }) }}">{{ lecture.lecturer }}</a></em>
        </p>
    </div>
</div>
