<div class="plate row{{ lectures_per_row | default(4) }}" style="background-image: url('{{ lecture.videoThumbnailUrl }}');">
    <a href="{{ url('LectureDetails', { 'id': lecture.id }) }}">
        <div class="plate-overlay">
            <div class="plate-details text-justify">
                <p>
                    {{ lecture.teaser | cut(230) }}
                </p>
                <i class="pull-right">{{ lecture.lecturer }}</i>
            </div>
        </div>

        <div class="plate-main">
            <span style="width: 100%;" class="text-center">{{ lecture.title }}</span>
        </div>
    </a>
</div>
