<div class="plate" style="background-image: url('{{ lecture.videoThumbnailUrl }}');">
    {% if featured is defined %}
        <div class="pull-right featured-sign">Featured</div>
    {% endif %}
    <a href="{{ url('LectureDetails', { 'id': lecture.id }) }}">
        <div class="plate-details text-justify">
            <p>
                {{ lecture.teaser | cut(230) }}
            </p>
            <i class="pull-right">{{ lecture.lecturer }}</i>
        </div>

        <div class="plate-main">
            <span style="width: 100%;" class="text-center">{{ lecture.title }}</span>
        </div>
    </a>
</div>
