<div class="row" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="name" content="{{ lecture.title }}" />
    <meta itemprop="description" content="{{ lecture.teaser }}" />
    <meta itemprop="thumbnailUrl" content="{{ lecture.videoThumbnailUrl }}" />
    <meta itemprop="embedURL" content="{{ lecture.videoUrl }}" />
    <meta itemprop="duration" content="T20M">
    <meta itemprop="uploadDate" content="{{ lecture.event.created | date('Y-m-d') }}T00:00:00+03:00" />
    <div class="col-lg-6">
        {% if forceIframe | default(false) %}
            <iframe width="560" height="315" src="{{ lecture.videoUrl }}?html5=1" frameborder="0" allowfullscreen></iframe>
        {% else %}
            <img
                class="video-thumbnail"
                style='width:560px; height:315px; cursor: pointer;'
                src="{{ lecture.videoThumbnailUrl }}"
                data-iframe-url="{{ lecture.videoUrl }}?html5=1&autoplay=1"
            />
        {% endif %}
    </div>
    <div class="col-lg-6">
        {% if lecture.isFeatured %}
            <div class="pull-right featured-sign">Featured</div>
        {% endif %}
        <h4>
            <a href="{{ path('LectureDetails', { 'id': lecture.id }) }}">
                {{ lecture }}
            </a>
            <em>- <a href="{{ path("LectureList", { "lecturers": lecture.lecturer.id }) }}">{{ lecture.lecturer }}</a></em>
        </h4>
        <p>
            <a href="{{ path("LectureList", { "events": lecture.event.id }) }}">{{ lecture.date | date }}</a>,
            <a href="{{ path("EventByCity", { "id": lecture.city.id }) }}">{{ lecture.city | trans }}</a>
            <span
                    class="pull-right fb-share-button"
                    style="margin-right: 6px;"
                    data-href="{{ url("LectureDetails", { "id": lecture.id }) }}"
                    data-layout="button"
            >
            </span>
            <span
                    class="pull-right vk-share-button"
                    style="margin-top: 2px; margin-right: 6px;"
                    data-href="{{ url("LectureDetails", { "id": lecture.id }) }}"
            >
            </span>
        </p>

        <p>{{ lecture.teaser }}</p>

        {% if lecture.tags|length > 0  %}
            <p>
                {{ 'Теги' | trans }}:
                {% for tag in lecture.tags  %}
                    <a href="{{ path("LectureList", { "tags": tag.id }) }}">{{ tag }}</a>&nbsp;
                {% endfor %}
            </p>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ 'Категория' | trans }}: <b style="font-size: 110%;"><a href="{{ path("LectureByField", { "id": lecture.field.id }) }}">{{ lecture.field }}</a></b>
            </div>
            <div class="col-md-6">
                {{ 'Язык' | trans }}: <a href="{{ path("LectureList", { "langs": lecture.language }) }}">{{ lecture.language | humanize_language }}</a>
            </div>
        </div>

        {% if lecture.hasDiscussionVideo() %}
            <p>
                <a href="{{ lecture.discussionVideoFullUrl }}">
                    {{ 'Смотреть обсуждение' | trans }}
                </a>
            </p>
        {% endif %}

        <hr/>

        <p>
            {% if (is_granted('ROLE_USER')) %}
                {% include 'shared/lecture-likes-auth.html.twig' %}
            {% else %}
                {% include 'shared/lecture-likes-noauth.html.twig' %}
            {% endif %}
        </p>
    </div>
</div>
