<div class="row text-center" style="font-size: 150%;">
    <div class="col-sm-2">
        <i
            class="fa fa-thumbs-up tooltip-toggle"
            aria-hidden="true"
            data-title="{{ 'Нравится' | trans }}"
        ></i> {{ lecture.likesCount }}
    </div>
    <div class="col-sm-2">
        <i
            class="fa fa-thumbs-down tooltip-toggle"
            aria-hidden="true"
            data-title="{{ 'Не нравится' | trans }}"
        ></i> {{ lecture.dislikesCount }}
    </div>
    <div class="col-sm-2">
        <i
            class="fa fa-bookmark tooltip-toggle"
            aria-hidden="true"
            data-title="{{ 'Избранное' | trans }}"
        ></i> {{ lecture.favsCount }}
    </div>
    <div class="col-sm-2">
        <i
            class="fa fa-comment tooltip-toggle"
            aria-hidden="true"
            data-title="{{ 'Комментарии' | trans }}"
        ></i> {{ lecture.commentsCount }}
    </div>
    <div class="col-sm-4" style="font-size: 55%;">
        <i class="text-muted pull-right">
            <a href="{{ path('hwi_oauth_connect') }}" style="color: orangered; text-decoration: underline;">{{ 'Войдите%s, чтобы проголосовать за лекцию или добавить её в избранное' | trans | format('</a>') | raw }}
        </i>
    </div>
</div>
