{% block fos_comment_comment %}
    <div id="fos_comment_{{ comment.id }}" class="fos_comment_comment_show fos_comment_comment_depth_{{ depth }}" {% if parent is defined and parent is not null %}data-parent="{{ parent.id }}"{% endif %}>

        <div class="fos_comment_comment_metas" style="background-color: white; border: none; padding-left: 0; padding-bottom: 0;">
            {% block fos_comment_comment_metas %}
                {% block fos_comment_comment_metas_authorline %}
                    {% if comment.author %}
                        <img style="width: 50px; height: 50px; border-radius: 25px; margin-right: 11px;" src="{{ comment.author.pictureUrl }}"/>
                    {% endif %}
                    <i class="fos_comment_comment_authorname">
                        {{ comment.authorName }}
                    </i>
                    <small class="text-muted">{{ comment.createdAt | date }}</small>
                {% endblock fos_comment_comment_metas_authorline %}
            {% endblock fos_comment_comment_metas %}
        </div>

        <div id="fos_comment_comment_body_{{ comment.id }}" class="fos_comment_comment_body">
            {% block fos_comment_comment_body %}
                {% if comment is fos_comment_raw %}
                    {{ comment.rawBody | raw }}
                {% else %}
                    {{ comment.body | nl2br }}
                {% endif %}
            {% endblock fos_comment_comment_body %}
        </div>

        {% block fos_comment_comment_children %}
            {% if view is not same as('flat') %}
                {% if fos_comment_can_comment(comment) %}
                    <div class="fos_comment_comment_reply">
                        {% block fos_comment_comment_reply %}
                            <small
                                class="pull-left cursor-pointer text-muted fos_comment_comment_reply_show_form"
                                style="text-decoration: underline;"
                                data-url="{{ url('fos_comment_new_thread_comments', {"id": comment.thread.id}) }}"
                                data-name="{{ comment.authorName }}"
                                data-parent-id="{{ comment.id }}"
                            >
                                {{ "Ответить" | trans }}
                            </small>
                        {% endblock fos_comment_comment_reply %}
                    </div>
                {% endif %}
                <div class="fos_comment_comment_replies" style="margin-left: 30px;">
                    {% if children is defined %}
                        {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
                    {% endif %}
                </div>
            {% elseif view is same as('flat') and children is defined %}
                {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
            {% endif %}
        {% endblock fos_comment_comment_children %}
    </div>
{% endblock fos_comment_comment %}
