{% extends 'layout.html.twig' %}

{% block header %}
    <div id="particles-js" style="position: absolute; width: 100%; height: 100%;"></div>

    <div class="icon-container">
        <div class="row">
            <div class="col-lg-6" style="margin-top: 40px;">
                {% if city.fbLink %}
                    <p>
                        <i class="fa fa-facebook"></i>
                        <span class="text">fb.me/{{ city.fbLink }}</span>
                    </p>
                {% endif %}

                <p>
                    <i class="fa fa-globe"></i>
                    <span class="text">15x4.org</span>
                </p>

                {% if city.tgLink %}
                    <p>
                        <i class="fa fa-telegram"></i>
                        <span class="text">t.me/{{ city.tgLink }}</span>
                    </p>
                {% endif %}

                {% if city.meetupLink %}
                    <p>
                        <i class="fa fa-meetup"></i>
                        <span class="text">meetup.com/{{ city.meetupLink }}</span>
                    </p>
                {% endif %}

                {% if city.email %}
                    <p>
                        <i class="fa fa-envelope"></i>
                        <span class="text">{{ city.email }}</span>
                    </p>
                {% endif %}

                {% if city.instagramLink %}
                    <p>
                        <i class="fa fa-instagram"></i>
                        <span class="text">instagram.com/{{ city.instagramLink }}</span>
                    </p>
                {% endif %}
            </div>

            <div class="col-lg-6">
                {% if city.qrCodeLink %}
                    <p>
                        <img class="pull-right" src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{ city.qrCodeLink | url_encode }}&choe=UTF-8" />
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_head %}
    <title>15x4 - Share your knowledge!</title>
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/particles-bg.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('/bundles/app/js/particles.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/particles-bg.js') }}"></script>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
{% endblock %}
