{% extends 'layout.html.twig' %}

{% block content %}

    <h2 class="text-center" style="width: 100%;">Будущие встречи</h2>

    <div class="row">
        {% for city in cities %}
            <div class="col-lg-6">
                <div class="well">
                    {% if city.announcement and city.announcement.date >= date('today midnight') %}
                        <h4>{{ city }} - {{ city.announcement.date | date }}</h4>

                        {% if city.announcement.where %}
                            <p>
                                Место: {{ city.announcement.where }}
                            </p>
                        {% endif %}

                        {% if city.announcement.when %}
                            <p>
                                Время: {{ city.announcement.when }}
                            </p>
                        {% endif %}

                        {% for lecture in city.announcement.lectures %}
                            <p>
                                <span class="glyphicon glyphicon-ok"></span>
                                {{ lecture.title }} - <i>{{ lecture.lecturer }}</i>
                            </p>
                        {% endfor %}
                    {% else %}
                        <h4>{{ city }}</h4>

                        <p><i>Будет анонсировано позже</i></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="text-center" style="width: 100%;">Недавние лекции</h2>

    <table class="table table-responsive">
        {% for lecture in lectures %}
            {% if loop.index0 is divisible by(3) %}<tr>{% endif %}

            <td style="width: 33%;">
                {% include('shared/lecture-plate.html.twig') %}
            </td>

            {% if loop.index is divisible by(3) %}</tr>{% endif %}
        {% endfor %}
    </table>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-lg-4 col-lg-offset-4">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureList") }}">Все видео</a>
        </div>
    </div>

{% endblock %}
