{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'upcoming-events.html.twig' %}

    <h2 class="text-center" style="width: 100%;">{{ 'Недавние лекции' | trans }}</h2>

    <div style="display: flex; flex-wrap: wrap;">
        {% for lecture in featured_lectures %}
            <div class="plate-container row3">
                {% include 'shared/lecture-plate.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <div style="display: flex; flex-wrap: wrap; margin-bottom: 20px;">
        {% for lecture in recent_lectures %}
            <div class="plate-container row4">
                {% include 'shared/lecture-plate.html.twig' %}
            </div>

            {% if loop.index == recent_lectures | length %}
                <div class="plate-container row4">
                    <div class="plate" style="background-color: #2f2e30; color: white; font-size: 110%; padding-left: 9px; padding-top: 10px;">
                        <h4 style="margin-top: 0;">{{ 'А может, вас интересует' | trans }}...</h4>
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    ... <a class="normal-link" href="{{ url('LectureList', { 'tags': tag.id }) }}">{{ tag.name | trans }}</a>?
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row" style="margin-bottom: 15px; font-size: 130%;">
        <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureList") }}">
                {{ 'Все лекции' | trans }}
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureListFeatured") }}">
                {{ 'Лучшие лекции' | trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        'bundles/app/css/landing.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
