{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'upcoming-events.html.twig' %}

    <h2 class="text-center" style="width: 100%;">{{ 'Недавние лекции' | trans }}</h2>

    <table class="table table-responsive noborders">
        <tr>
            {% for lecture in featured_lectures %}
                <td style="width: 33%; border-style: none;">
                    {% include 'shared/lecture-plate.html.twig' with { lectures_per_row: 3 } %}
                </td>
            {% endfor %}
        </tr>
    </table>

    <table class="table table-responsive noborders">
        {% for lecture in recent_lectures %}
            {% if loop.index0 is divisible by(4) %}<tr>{% endif %}
            <td style="width: 25%; border-style: none;">
                {% include 'shared/lecture-plate.html.twig' %}
            </td>

            {% if loop.index == recent_lectures | length %}
                <td style="width: 25%; border-style: none;">
                    <div class="plate row4" style="background-color: #2f2e30; color: white; font-size: 110%; padding-left: 9px; padding-top: 10px;">
                        <h4 style="margin-top: 0;">{{ 'А может, вас интересует' | trans }}...</h4>
                        <ul>
                            {% for tag in tags %}
                                <li>
                                    ... <a class="normal-link" href="{{ url('LectureList', { 'tags': tag.id }) }}">{{ tag.name | trans }}</a>?
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            {% endif %}

            {% if (loop.index) is divisible by(4) %}</tr>{% endif %}
        {% endfor %}
    </table>

    <div class="row" style="margin-bottom: 15px; font-size: 130%;">
        <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureList") }}">
                {{ 'Все лекции' | trans }}
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" style="width: 100%; font-size: 140%;" href="{{ path("LectureListFeatured") }}">
                {{ 'Лучшие лекции' | trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        'bundles/app/css/landing.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
