{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Встречи в {{ city }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ 'Все встречи в городе' | trans }} {{ city }}</h1>

    {% for event in pagination.items %}
            <div class="row">
                <div class="col-lg-10 offset-lg-1" style="font-size: 18px;">
                    <h4 style="font-size: 24px;"><a href="{{ path("LectureList", { "events": event.id }) }}">{{ event.date | date }}</a></h4>
                    <ul>
                    {% for lecture in event.lectures %}
                        <li>
                            <a href="{{ path("LectureDetails", { 'id': lecture.id }) }}">{{ lecture.title }}</a>
                            -
                            <i>
                                <a href="{{ path("LectureList", { 'lecturers': lecture.lecturer.id }) }}">{{ lecture.lecturer }}</a>
                            </i>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
    {% endfor %}

    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}

{% endblock %}
