{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Встречи в {{ city }}{% endblock %}

{% block content %}
    <h1 class="page-header">Все встречи в городе {{ city }}</h1>

    <div class="carousel slide" id="events-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for event in pagination.items %}
                <li data-target="#events-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner" role="listbox">
            {% for event in pagination.items %}
                <div class="item{% if loop.first %} active{% endif %}">
                    <div class="row well well-no-margin">
                        <div class="col-lg-10 col-lg-offset-1" style="font-size: 18px;">
                            <h4 style="font-size: 24px;"><a href="{{ path("LectureList", { "events": event.id }) }}">{{ event.date | date }}</a></h4>
                            {% for lecture in event.lectures %}
                                <p>
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <a href="{{ path("LectureDetails", { 'id': lecture.id }) }}">{{ lecture.title }}</a>
                                    -
                                    <i>
                                        <a href="{{ path("LectureList", { 'lecturers': lecture.lecturer.id }) }}">{{ lecture.lecturer }}</a>
                                    </i>
                                </p>
                            {% endfor %}
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <a class="left carousel-control" href="#events-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Предыдущая встреча</span>
            </a>
            <a class="right carousel-control" href="#events-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Следующая встреча</span>
            </a>

        </div>
    </div>
    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}

    <hr/>
{% endblock %}
