{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Лекторы{% endblock %}

{% block content %}
    <h1 class="page-header">Количество лекторов: {{ pagination.items|length }}</h1>
    {% for lecturer in pagination.items %}
        <h3>
            <a href="{{ path("LectureFiltered", { "lecturer": lecturer.id }) }}">
                {{ lecturer.name }} ({{ lecturer.lectures_count }})
            </a>
        </h3>
        {% if lecturer.bio %}
            <p>{{ lecturer.bio }}</p>
        {% endif %}
        <hr/>
    {% endfor %}

    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}
{% endblock %}
