{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — Лекторы{% endblock %}

{% block content %}
    <h2 class="page-header">{{ 'Наши лекторы' | trans }}:</h2>

    <table class="table table-responsive">
        <tbody>
        {% for lecturer in pagination.items %}
            {% if loop.index0 is divisible by(4) %}<tr>{% endif %}

            <td style="width: 25%;">
                <a href="{{ path("LectureList", { "lecturers": lecturer.id }) }}">
                    {{ lecturer.name }} ({{ lecturer.lectures_count }})
                </a>

                {% if lecturer.bio %}
                    <p>{{ lecturer.bio }}</p>
                {% endif %}
            </td>

            {% if loop.index is divisible by(4) %}</tr>{% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% include 'shared/pagination.html.twig' with { 'pagination': pagination.paginationData } %}
{% endblock %}
