{#todo generate content dynamically#}

{% extends 'layout.html.twig' %}

{% block page_title %}
    15x4 — связаться с нами
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/shuffle.js'
        '@AppBundle/Resources/public/js/contacts.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        '@AppBundle/Resources/public/css/contacts.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h2>{{ 'Связаться с нами' | trans }}</h2>
    <p class="text-muted"><i>{{ '15x4 — волонтёрский проект. Участвуя в нём, вы можете сделать мир лучше' | trans }}</i></p>

    <div class="row">
        <div class="col-lg-12">
            <b>{{ 'Что вас интересует?' | trans }}</b>
            <br/>
            <div id="goal" class="btn-group" role="group">
                <button data-title="{{ 'Мы не требуем регалий и других формальных критериев' | trans }}" data-goal="lecturer" type="button" class="btn btn-default tooltip-toggle">{{ 'Стать лектором' | trans }}</button>
                <button data-title="{{ 'Давайте делать мир лучше вместе!' | trans }}" data-goal="volunteer" type="button" class="btn btn-default tooltip-toggle">{{ 'Стать волонтёром' | trans }}</button>
                <button data-title="{{ 'Мы поможем вам всеми своими ресурсами' | trans }}" data-goal="branch" type="button" class="btn btn-default tooltip-toggle">{{ 'Открыть 15х4 в своём городе' | trans }}</button>
                <button data-title="{{ 'Жалобы, пожелания, предложения' | trans }}" data-goal="site" type="button" class="btn btn-default tooltip-toggle">{{ 'Этот сайт' | trans }}</button>
                <button data-title="{{ 'Например, сотрудничество' | trans }}" data-goal="other" type="button" class="btn btn-default tooltip-toggle">{{ 'Другое' | trans }}</button>
            </div>
        </div>

        <div class="col-lg-12">
            <b>{{ 'Ваш город' | trans }}</b>
            <br/>
            <div id="city" class="btn-group" role="group">
                <button data-city=1 type="button" class="btn btn-default">{{ 'Москва' | trans }}</button>
                <button data-city=2 type="button" class="btn btn-default">{{ 'Киев' | trans }}</button>
                <button data-city=3 type="button" class="btn btn-default">{{ 'Харьков' | trans }}</button>
                <button data-city=4 type="button" class="btn btn-default">{{ 'Львов' | trans }}</button>
                <button data-city=5 type="button" class="btn btn-default">{{ 'Черновцы' | trans }}</button>
            </div>
        </div>
    </div>

    <hr/>

    <div id="grid" class="row">

        <div class="col-sm-3 contact" data-goals='{"other":[], "branch":[], "volunteer": [3]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/gapak.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="A. Gapak"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Алексанр Гапак</div>
                    <p class="small text-muted">{{ 'Основатель и глобальный координатор' | trans }}, {{ 'Харьков' | trans }}</p>
                    <a href="https://www.facebook.com/aleksandr.gapak">fb</a>
                    <a href="mailto:wolfinnigth@gmail.com">email</a>
                    <a href="https://vk.com/alex_gapak">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"site":[]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/arodiss.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="G. Sidora"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Сидора Глеб</div>
                    <p class="small text-muted">{{ 'Разработка сайта' | trans }}, {{ 'Киев' | trans }}</p>
                    <a href="https://www.facebook.com/profile.php?id=100001049885258">fb</a>
                    <a href="mailto:gleb.sidora@gmail.com">email</a>
                    <a href="https://vk.com/arodiss">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer":[2]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/logo.png'
                    %}
                        <img src="{{ asset_url }}" alt="T. Pogoretskaya"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Таня Погорецкая</div>
                    <p class="small text-muted">{{ 'Работа с лекторами' | trans }}, {{ 'Киев' | trans }}</p>
                    <a href="mailto:15x4Kyiv@gmail.com">email</a>
                    <a href="https://vk.com/brunsweek">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"volunteer":[2]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/ehnara.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="A. Malevich"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Александра Малевич</div>
                    <p class="small text-muted">{{ 'Координатор отделения' | trans }}, {{ 'Киев' | trans }}</p>
                    <a href="https://www.facebook.com/ehnara">fb</a>
                    <a href="mailto:15x4Kyiv@gmail.com">email</a>
                    <a href="https://vk.com/ehnara">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer":[3]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/gromova.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="U. Gromova"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Ульяна Громова</div>
                    <p class="small text-muted">{{ 'Работа с лекторами' | trans }}, {{ 'Харьков' | trans }}</p>
                    <a href="mailto:Malyarchyk.17@gmail.com">email</a>
                    <a href="https://vk.com/hell_low">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer":[4], "volunteer": [4]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/feelofreel.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="D. Kondratiuk"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Дмитрий Кондратюк</div>
                    <p class="small text-muted">{{ 'Координатор отделения' | trans }}, {{ 'Львов' | trans }}</p>
                    <a href="https://www.facebook.com/eeloffeel">fb</a>
                    <a href="mailto:kondrdm@gmail.com ">email</a>
                    <a href="https://vk.com/feelofeel">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer":[1], "volunteer": [1]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/real.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="V. Grachova"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Валерия Грачёва</div>
                    <p class="small text-muted">{{ 'Координатор отделения' | trans }}, {{ 'Москва' | trans }}</p>
                    <a href="https://www.facebook.com/realgrachova">fb</a>
                    <a href="mailto:eon@houston.ru">email</a>
                    <a href="https://vk.com/real_night">vk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer":[5], "volunteer": [5]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/stanislav.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="S. Romanyuk"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Станислав Романюк</div>
                    <p class="small text-muted">{{ 'Координатор отделения' | trans }}, {{ 'Черновцы' | trans }}</p>
                    <a href="https://www.facebook.com/romsttt">fb</a>
                    <a href="https://vk.com/rm_nk">vk</a>
                    <a href="mailto:masterofstature@gmail.com">email</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"volunteer":[5]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                    '@AppBundle/Resources/public/images/contacts/tor.jpg'
                    filter='jpegoptim'
                    %}
                    <img src="{{ asset_url }}" alt="M. Torkish"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Марьяна Торкиш</div>
                    <p class="small text-muted">{{ 'Работа с волонтёрами' | trans }}, {{ 'Черновцы' | trans }}</p>
                    <a href="https://m.facebook.com/m.torkish">fb</a>
                    <a href="http://vk.com/bgtor ">vk</a>
                    <a href="mailto:morkishka@gmail.com ">email</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 contact" data-goals='{"lecturer": [5]}'>
            <div class="row">
                <div class="col-lg-6">
                    {% image
                        '@AppBundle/Resources/public/images/contacts/gaechka.jpg'
                        filter='jpegoptim'
                    %}
                        <img src="{{ asset_url }}" alt="E. Homon"/>
                    {% endimage %}
                </div>
                <div class="col-lg-6">
                    <div class="contact-name">Елена Гомон</div>
                    <p class="small text-muted">{{ 'Работа с лекторами' | trans }}, {{ 'Черновцы' | trans }}</p>
                    <a href="https://www.facebook.com/elena.gomon.54">fb</a>
                    <a href="https://vk.com/id32493096">vk</a>
                    <a href="mailto:ellengomon@gmail.com">email</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
