<!DOCTYPE html>
<html lang="{{ app.session.get('locale') | default(default_locale) }}">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="{% block meta_og_title %}15x4{% endblock %}" />
        <meta property="og:description" content="{% block meta_og_description %}Share Your Knowledge!{% endblock %}" />
        <meta name="google-site-verification" content="ce6XD2M1ph_N3gP9GlEjlBhHlOKiNtSGRRBVCliunJQ" />
        <meta property="og:site_name" content="15x4">
        <meta property="og:image" content="{{ asset('bundles/app/images/logo.png') }}">
        <meta property="og:description" content="Share Your Knowledge!"/>
        <title>{% block page_title %}15x4 — Share Your Knowledge!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block styles %}
            {% stylesheets
                'bundles/app/css/bootstrap.css'
                'bundles/app/css/font-awesome.css'
                'bundles/app/css/selectize.css'
                'bundles/app/css/style.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block script_din %}
            <script src='https://rentafont.com/web_fonts/js/eHUyODkyZ2lmcjIxNGl3eXY2MzFlbGVobzIwNTlu?f=DIN2014Light' type='text/javascript'></script>
        {% endblock %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}{% include "header/header.html.twig" %}{% endblock %}
        {% block navigation %}{% include "navigation.html.twig" %}{% endblock %}
        {% block alerts %}{% include "alerts.html.twig" %}{% endblock %}
        {% if ignoreContainer is not defined %}
        <div class="container">
        {% endif %}
            {% block content %}{% endblock %}
            <div class="scroll-top-wrapper ">
                <span class="scroll-top-inner">
                    <i class="fa fa-3x fa-angle-up"></i>
                </span>
            </div>
        {% if ignoreContainer is not defined %}
        </div>
        {% endif %}
        {% block footer %}{% include "footer.html.twig" %}{% endblock %}

        {% block scripts %}
            {% javascripts
                '@AppBundle/Resources/public/js/popper.js'
                '@AppBundle/Resources/public/js/jquery.js'
                '@AppBundle/Resources/public/js/selectize.js'
                '@AppBundle/Resources/public/js/bootstrap.js'
                '@AppBundle/Resources/public/js/init.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block fe_only_scripts %}
            {% javascripts
                '@AppBundle/Resources/public/js/jqcloud.js'
                '@AppBundle/Resources/public/js/particles.js'
                '@AppBundle/Resources/public/js/auth.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block google_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ google_analytics_id }}', 'auto');
                ga('send', 'pageview');

                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:536303,hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script>
        {% endblock %}
    </body>
</html>
