<nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("LectureList") }}">Все лекции</a></li>
                <li><a href="{{ path("LectureRandom") }}">Случайная лекция</a></li>
                {% if is_granted('ROLE_USER') and app.user.favoriteLectureIds | length > 0 %}
                    <li><a href="{{ path("MyFavoriteLectures") }}">Избранное</a></li>
                {% endif %}
                <li><a href="{{ path("About") }}">О проекте</a></li>
                <li><a href="{{ path("Contacts") }}">Контакты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ app.session.get('locale') | default(default_locale) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('SetLanguage', { 'lang': 'ru' }) }}">Русский</a></li>
                        <li><a href="{{ path('SetLanguage', { 'lang': 'ua' }) }}">Українська</a></li>
                        <li><a href="{{ path('SetLanguage', { 'lang': 'en' }) }}">English</a></li>
                    </ul>
                </li>
                <li>
                    <a id="login-button" class="hide" href="{{ path('hwi_oauth_connect') }}">Авторизоваться</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
