<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url("LectureList") }}">{{ 'Все лекции' | trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url("LectureRandom") }}">{{ 'Случайная лекция' | trans }}</a></li>
                {% if is_granted('ROLE_USER') and app.user.favoriteLectureIds | length > 0 %}
                    <li class="nav-item"><a class="nav-link" href="{{ url("MyFavoriteLectures") }}">{{ 'Избранное' | trans }}</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ url("About") }}">{{ 'О проекте' | trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url("Contacts") }}">{{ 'Контакты' | trans }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ app.session.get('locale') | default(default_locale) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url('SetLanguage', { 'lang': 'ru' }) }}">Русский</a>
                        <a class="dropdown-item" href="{{ url('SetLanguage', { 'lang': 'uk' }) }}">Українська</a>
                        <a class="dropdown-item" href="{{ url('SetLanguage', { 'lang': 'en' }) }}">English</a>
                        <a class="dropdown-item" href="{{ url('SetLanguage', { 'lang': 'de' }) }}">Deutsch</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="login-button" class="nav-link d-none" href="{{ url('hwi_oauth_connect') }}">{{ 'Авторизоваться' | trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
