<h2 class="text-center" style="width: 100%;">Будущие встречи</h2>

<ul class="nav nav-tabs" role="tablist">
    {% for city in cities %}
        <li role="presentation"{% if loop.first %} class="active"{% endif %}>
            <a href="#city-{{ city.id  }}" aria-controls="add" role="tab" data-toggle="tab" class="tab-toggle">
                {{ city }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for city in cities %}
        <div id="city-{{ city.id  }}" role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}">
            <div class="well">
                <div class="row">
                    {% if city.hasValidAnnouncement() %}
                        <div class="col-lg-6">
                            <h4>
                                Время: {{ city.nextAnnouncement.date | date }}{% if city.nextAnnouncement.when %}, {{ city.nextAnnouncement.when }}{% endif %}
                            </h4>

                            {% for lecture in city.nextAnnouncement.lectures %}
                                <p>
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {{ lecture.title }} - <i>{{ lecture.lecturer }}</i>
                                </p>
                            {% endfor %}

                            <p class="form-inline" data-event-id="{{ city.nextAnnouncement.id }}">
                                <i>
                                    {% if city.nextAnnouncement.registerable %}
                                        {% if city.nextAnnouncement.hasFreeTickets() %}
                                            <a class="sign-up" href="#">Зарегистрируйтесь</a>, пока ещё есть места
                                        {% else %}
                                            К сожалению, свободных мест для регистрации нет. Вы можете приходить, но мы не обещаем вам сидячее место
                                        {% endif %}
                                    {% else %}
                                        Регистрация не трубется
                                    {% endif %}
                                </i>
                            </p>
                        </div>

                        <div class="col-lg-6">
                            {% if city.nextAnnouncement.where %}
                                <h4>
                                    Место: {{ city.nextAnnouncement.where }}
                                </h4>

                                <iframe
                                    style="width: 100%; height: 100%;"
                                    src="https://maps.google.com/maps?q={{ (city.name ~ ', ' ~ city.nextAnnouncement.whereMap) | url_encode }}&z=14&output=embed"
                                    >
                                </iframe>
                            {% endif %}
                        </div>

                        <div id="sign-up-details" class="hide form-inline">
                            <b>Меня зовут</b>
                            <input
                                type="text"
                                class="form-control"
                                id="ticket_name"
                                {% if is_granted('ROLE_USER') %} value="{{ app.user.getDisplayableName() }}"{% endif %}
                            />
                            <b>, и со мной будет</b>
                            <input type="number" class="form-control" id="ticket_number" value="0">
                            <b>друзей. Я</b>
                            <select id="signup-volunteer">
                                <option selected>хочу</option>
                                <option>не хочу</option>
                            </select>
                            <b>поучавствовать в проекте</b>
                            <span id="signup-contact-wrapper">
                                <b>, вот мои контакты:</b>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="contact"
                                    placeholder="опишите, как связаться"
                                />
                            </span>
                            <br/>
                            <div class="btn btn-default book-ticket">Запишите меня!</div>
                        </div>
                    {% else %}
                        <div class="col-lg-12">
                            <p>
                                <i>Будет анонсировано позже</i>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
