{% extends 'layout.html.twig' %}

{% block page_title %}
    15x4 — связаться с нами
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts '@AppBundle/Resources/public/js/contacts.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        '@AppBundle/Resources/public/css/contacts.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h2>{{ 'Связаться с нами' | trans }}</h2>
    <p class="text-muted"><i>{{ '15x4 — некоммерческий образовательный проект, который нуждается в вашей помощи. Вы можете стать лектором, волонтером или организатором в своем городе. Мы всегда рады новым людям и идеям' | trans }}</i></p>

    <div class="row">
        <div class="col-lg-12">
            <b>{{ 'Что вас интересует?' | trans }}</b>
            <br/>
            <div id="goal" class="btn-group" role="group">
                <button data-title="{{ 'Мы не требуем регалий и других формальных критериев' | trans }}" data-goal="lecturer" type="button" class="btn btn-default tooltip-toggle">{{ 'Стать лектором' | trans }}</button>
                <button data-title="{{ 'Наш проект существует благодаря усилиям волонтеров' | trans }}" data-goal="volunteer" type="button" class="btn btn-default tooltip-toggle">{{ 'Стать волонтёром' | trans }}</button>
                <button data-title="{{ 'Мы поможем вам открыть лекторий в любой точке мира' | trans }}" data-goal="branch" type="button" class="btn btn-default tooltip-toggle">{{ 'Открыть 15х4 в своём городе' | trans }}</button>
                <button data-title="{{ 'Предложения по улучшению сайта' | trans }}" data-goal="site" type="button" class="btn btn-default tooltip-toggle">{{ 'Этот сайт' | trans }}</button>
                <button data-title="{{ 'Ссотрудничество, связь с прессой' | trans }}" data-goal="other" type="button" class="btn btn-default tooltip-toggle">{{ 'Другое' | trans }}</button>
            </div>
        </div>

        <div class="col-lg-12">
            <b>{{ 'Ваш город' | trans }}</b>
            <br/>
            <div id="city" class="btn-group" role="group">
                {% for id, city in cities %}
                    <button data-city={{ id }} type="button" class="btn btn-default">{{ city | trans }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr/>

    <div id="contacts" class="flexbox">
        {% for contact in contacts %}
            {% include 'contacts/contact.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
