{% extends 'layout.html.twig' %}

{% block page_title %}
    15x4 — связаться с нами
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts '@AppBundle/Resources/public/js/contacts.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        '@AppBundle/Resources/public/css/contacts.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h2>{{ 'Связаться с нами' | trans }}</h2>
    <p class="text-muted"><i>{{ '15x4 — некоммерческий образовательный проект, который нуждается в вашей помощи. Вы можете стать лектором, волонтером или организатором в своем городе. Мы всегда рады новым людям и идеям' | trans }}</i></p>

    <div class="row">
        <div class="col-lg-12">
            <b>{{ 'Что вас интересует?' | trans }}</b>
            <br/>
            <div id="goal" class="btn-group" role="group">
                <button data-title="{{ 'Мы не требуем регалий и других формальных критериев' | trans }}" data-goal="lecturer" type="button" class="btn btn-secondary tooltip-toggle">{{ 'Стать лектором' | trans }}</button>
                <button data-title="{{ 'Наш проект существует благодаря усилиям волонтеров' | trans }}" data-goal="volunteer" type="button" class="btn btn-secondary tooltip-toggle">{{ 'Стать волонтёром' | trans }}</button>
                <button data-title="{{ 'Мы поможем вам открыть лекторий в любой точке мира' | trans }}" data-goal="branch" type="button" class="btn btn-secondary tooltip-toggle">{{ 'Открыть 15х4 в своём городе' | trans }}</button>
                <button data-title="{{ 'Предложения по улучшению сайта' | trans }}" data-goal="site" type="button" class="btn btn-secondary tooltip-toggle">{{ 'Этот сайт' | trans }}</button>
                <a href="https://goo.gl/sdPUda" style="cursor: pointer; color: white;" class="btn btn-secondary" target="_blank">{{ 'Документация' | trans  }}</a>
                <button data-title="{{ 'Сотрудничество, связь с прессой' | trans }}" data-goal="other" type="button" class="btn btn-secondary tooltip-toggle">{{ 'Другое' | trans }}</button>
            </div>
        </div>

        <div class="col-lg-12">
            <b>{{ 'Ваш город' | trans }}</b>
            <br/>
            <div id="city" class="btn-toolbar" role="toolbar">
                {% for cities_chunk in cities|batch(12) %}
                    <div class="btn-group" role="group">
                        {% for city in cities_chunk %}
                            <button data-city={{ city.id }} type="button" class="btn btn-secondary">{{ city | trans }}</button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="contacts">
        <hr/>
        <h4>{{ 'Локальные координаторы' | trans }}</h4>
        <div class="flexbox">
            {% for contact in contacts if not contact.isGlobalContact()%}
                {% include 'contacts/contact.html.twig' %}
            {% endfor %}
        </div>
    </div>

    <div id="global_contacts">
        <hr/>
        <h4>{{ 'Глобальные координаторы' | trans }}</h4>
        <div class="flexbox">
            {% for contact in contacts if contact.isGlobalContact() %}
                {% include 'contacts/contact.html.twig' %}
            {% endfor %}
        </div>
    </div>


    <div id="city_resources">
        <hr/>
        <h4>{{ 'Мы в соцсетях' | trans }}</h4>
        <div class="flexbox">
            {% for city in cities if city.fbLink%}
                <div class="contact social" data-city_id='{{ city.id }}'>
                    <div class="city-img">
                        <img src="{{ asset('bundles/app/images/logo.png') }}" alt="{{ city.name }}"/>
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">{{ city.name | trans  }}</div>
                        <a href="https://fb.com/{{ city.fbLink }}" target="_blank">fb</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
    </div>

{% endblock %}
