<div class="contact" data-goals='{{ contact.goalsData | json_encode | raw }}'>
    <div class="contact-img">
        <img src="{{ asset('bundles/app/images/contacts/' ~ contact.picture) }}" alt="{{ contact.name }}"/>
    </div>
    <div class="contact-info">
        <div class="contact-name">{{ contact.name }}</div>
        <div class="contact-goal"">{{ contact.goal | trans }}</div>
        <div class="contact-city">{{ contact.city | trans }}</div>
        {% if contact.fb %}
            <a href="https://fb.com/{{ contact.fb }}">fb</a>
        {% endif %}
        {% if contact.vk %}
            <a href="https://vk.com/{{ contact.vk }}">vk</a>
        {% endif %}
        {% if contact.telegram %}
            <a href="https://t.me/{{ contact.telegram }}">telegram</a>
        {% endif %}
        {% if contact.email %}
            <a href="mailto:{{ contact.email }}">email</a>
        {% endif %}
    </div>
</div>
