{% extends "admin/list-layout.html.twig" %}

{% block admin_panel_header %}
    Наши встречи
{% endblock %}

{% block admin_list_content %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Место</th>
                <th>Дата</th>
                <th>Количество лекций</th>
                <th>Лекции</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.city }}</td>
                    <td>{{ event.date | date }}</td>
                    <td>
                        {{ event.lectures | length }}
                        {% if event.lectures | length != 4 %}
                            <span style="color: red;" class="glyphicon glyphicon-exclamation-sign"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% for lecture in event.lectures %}
                            <div class="text-small text-muted" style="font-size: 70%;">
                                {{ lecture }}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path("AdminEventEdit", { "id": event.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="delete" href="{{ path("AdminEventDelete", { "id": event.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="4">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}
