{% extends "admin/layout.html.twig" %}

{% block admin_hint %}
    <h2>
        Рекомендованые лекции
    </h2>
    <div class="alert alert-info" role="alert">
        <p>Рекомендованные лекции — это лучшие лекции 15х4, которые мы хотим показать гостю в первую очередь.</p>
        <p>Рекомендованные лекции показываются в специальном блоке на главной странице и при выборе случайной лекции.</p>
        <p>Мы считаем, что в "рекомендованные" должны попадать 10-15% от общего количества лекций.</p>
        <p>
            Количество рекомендованных лекций:
            {{ featured_lectures | length }}/{{ (unfeatured_lectures | length) + (featured_lectures | length) }}
            (<b>{{ (100 * featured_lectures|length  / (featured_lectures|length + unfeatured_lectures|length)) | round }}%</b>)
        </p>
        <p>
            <a href="{{ path('AdminLecturesFeaturedStatistics') }}">Больше статистики</a>
        </p>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 control-label" for="enfeature">
            Добавить новую лекцию в рекомендованные
        </label>
        <div class="col-sm-8">
            <select id="enfeature" multiple>
                {% for lecture in unfeatured_lectures %}
                    <option value="{{ lecture.id }}">{{ lecture.title }} ({{ lecture.event.city }})</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}

{% block admin_content %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Лектор</th>
            <th>Ивент</th>
            <th>Теги</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for lecture in featured_lectures %}
            <tr>
                <td>{{ lecture.title }}</td>
                <td>{{ lecture.field }}</td>
                <td>{{ lecture.lecturer }}</td>
                <td>{{ lecture.event.city }}, {{ lecture.event.date | date }}</td>
                <td>{{ lecture.tags | join(", ") }}</td>
                <td>
                    <a
                            href="{{ path("AdminLectureUnfeature", { "id": lecture.id }) }}"
                            title="Убрать из рекомендованных"
                    >
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <a
                            href="{{ path("AdminLectureEdit", { "id": lecture.id }) }}"
                            title="Редактировать"
                    >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#enfeature').selectize({
                'placeholder': 'Выбрать...',
                'onItemAdd': function (id) {
                    window.location.replace('/admin/lectures/' + id + '/enfeature');
                }
            });
        });
    </script>
{% endblock %}
