{% extends "admin/list-layout.html.twig" %}

{% block admin_list_content %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if current_city is not defined %} active{% endif %}" href="{{ path('AdminLectures') }}">Все</a>
        </li>
        {% for city in cities %}
            <li class="nav-item">
                <a class="nav-link {% if current_city is defined and current_city.id == city.id %} active{% endif %}" href="{{ path('AdminLecturesByCity', { 'id': city.id }) }}">{{ city.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Field</th>
                <th>Speaker</th>
                <th>Event</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in pagination.items %}
                <tr>
                    <td>{{ lecture.title }}</td>
                    <td>{{ lecture.field }}</td>
                    <td>{{ lecture.lecturer }}</td>
                    <td>{{ lecture.event.city }}, {{ lecture.event.date | date }}</td>
                    <td>{{ lecture.tags | join(", ") }}</td>
                    <td>
                        <a href="{{ path("AdminLectureEdit", { "id": lecture.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="delete" href="{{ path("AdminLectureDelete", { "id": lecture.id }) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="6">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}

{% block before_form %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        If you've created announcement for the lecture you want to upload, DON'T DO IT HERE
        <br/>
        Instead find your announcement in <a href="{{ path('AdminAnnouncements') }}">list</a> and click "upload videos" for talk or event
    </div>
{% endblock %}
