{% extends "admin/list-layout.html.twig" %}

{% block admin_panel_header %}
    Прочитанные лекции
{% endblock %}

{% block admin_list_content %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дисциплина</th>
                <th>Лектор</th>
                <th>Ивент</th>
                <th>Теги</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in pagination.items %}
                <tr>
                    <td>{{ lecture.title }}</td>
                    <td>{{ lecture.field }}</td>
                    <td>{{ lecture.lecturer }}</td>
                    <td>{{ lecture.event.city }}, {{ lecture.event.date | date }}</td>
                    <td>{{ lecture.tags | join(", ") }}</td>
                    <td>
                        <a href="{{ path("AdminLectureEdit", { "id": lecture.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="delete" href="{{ path("AdminLectureDelete", { "id": lecture.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="6">
                {% include 'shared/pagination.html.twig' with { pagination: pagination.paginationData } %}
            </td></tr>
        </tfoot>
    </table>
{% endblock %}
