<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminAnnouncements") }}"><b>Announcements</b></a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Talks
                    </a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path("AdminLectures") }}">All</a>
                        <a class="dropdown-item" href="{{ path('AdminLecturesFeatured') }}">Featured</a>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminLecturers") }}">Speakers</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminEvents") }}">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminCities") }}">Cities</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminTags") }}">Tags</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path("AdminContacts") }}">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path("Admin2FA") }}">2FA</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Translations
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path("jms_translation_index") }}">Edit</a>
                        <a class="dropdown-item" href="{{ path('AdminTranslationsUpdate') }}">Update</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path("Landing") }}">To client area</a></li>
            </ul>
        </div>
    </div>
</nav>
