<nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("AdminLectures") }}">Лекции</a></li>
                <li><a href="{{ path("AdminLecturers") }}">Лекторы</a></li>
                <li><a href="{{ path("AdminEvents") }}">Встречи</a></li>
                <li><a href="{{ path("AdminCities") }}">Города</a></li>
                <li><a href="{{ path("AdminTags") }}">Теги</a></li>
            </ul>
        </div>
    </div>
</nav>
