{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — {{ lecture }}{% endblock %}

{% block meta_og_description %}{{ lecture.teaser }}{% endblock %}
{% block meta_og_title %}{{ lecture.title }}{% endblock %}

{% block extra_head %}
    <meta property="og:image" content="{{ lecture.videoThumbnailUrl }}">
    <meta property="og:type" content="video">
    <meta property="og:video:url" content="{{ lecture.videoUrl }}">
    <meta property="og:video:secure_url" content="{{ lecture.videoUrl }}">
    <meta property="og:video:tag" content="15x4">
    <meta property="og:video:tag" content="15x4 Talks">
    <meta property="og:video:tag" content="15x4talks">
    <meta property="og:video:tag" content="научпоп">
    <meta property="og:video:tag" content="наука">
    <meta property="og:video:tag" content="лекции">
    <meta property="og:video:tag" content="лекторий">
    {% for tag in lecture.tags %}
        <meta property="og:video:tag" content="{{ tag.name }}">
    {% endfor %}

    <link rel="canonical" href="{{ url('LectureDetails', { 'id': lecture.id }) }}" />
{% endblock %}

{% block content %}
    <div style="margin-top: 10px;">
        {% include 'shared/lecture-preview.html.twig' with { 'forceIframe': true } %}
    </div>

    <hr/>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with { 'id': lecture.id } %}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/share.js'
        '@AppBundle/Resources/public/js/like.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
