{% extends 'layout.html.twig' %}

{% block page_title %}15x4 — {{ lecture }}{% endblock %}

{% block meta_og_description %}{{ lecture }}{% endblock %}

{% block content %}
    <div style="margin-top: 10px;">
        {% include 'shared/lecture-preview.html.twig' with { 'forceIframe': true } %}
    </div>

    <hr/>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with { 'id': lecture.id } %}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/share.js'
        '@AppBundle/Resources/public/js/like.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}
