<div id="lecture-filters" class="row d-none">
    <div class="col-sm-3">
        <label for='select-field'>
            {{ 'Категория' | trans }}:
        </label>
        <select id="select-field" data-selectize-placeholder="{{ "Выбрать" | trans }}..." multiple>
            {% for field in filters.fields.available %}
                <option value="{{ field.id }}">{{ field.name | trans }}</option>
            {% endfor %}
        </select>
        {% for field in filters.fields.selected %}
            <div style="border: 1px solid lightgray; border-radius: 5px; padding: 6px; background-color: #eee;">
                {{ field | trans }}
                <span class="pull-right" style="width: 0; position: relative; left: -4px; top: -5px; font-size: 70%;">
                    <span class="remove-field fa fa-times cursor-pointer" data-id="{{ field.id }}"></span>
                </span>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-3">
        <label for='select-lecturer'>
            {{ 'Лектор' | trans }}:
        </label>
        <select id="select-lecturer" data-selectize-placeholder="{{ "Выбрать" | trans }}..." multiple>
            {% for speaker in filters.speakers.available %}
                <option value="{{ speaker.id }}">{{ speaker.name }}</option>
            {% endfor %}
        </select>
        {% for speaker in filters.speakers.selected %}
            <div style="border: 1px solid lightgray; border-radius: 5px; padding: 6px; background-color: #eee;">
                <span>{{ speaker }}</span>
                <span class="pull-right" style="width: 0; position: relative; left: -4px; top: -5px; font-size: 70%;">
                    <span class="remove-lecturer fa fa-times cursor-pointer" data-id="{{ speaker.id }}"></span>
                </span>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-2">
        <label for='select-tag'>
            {{ 'Тег' | trans }}:
        </label>
        <select id="select-tag" data-selectize-placeholder="{{ "Выбрать" | trans }}..." multiple>
            {% for tag in filters.tags.available %}
                <option value="{{ tag.id }}">{{ tag.name | trans }}</option>
            {% endfor %}
        </select>
        {% for tag in filters.tags.selected %}
            <div style="border: 1px solid lightgray; border-radius: 5px; padding: 6px; background-color: #eee;">
                {{ tag | trans }}
                <span class="pull-right" style="width: 0; position: relative; left: -4px; top: -5px; font-size: 70%;">
                    <span class="remove-tag fa fa-times cursor-pointer" data-id="{{ tag.id }}"></span>
                </span>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-2">
        <label for='select-event'>
            {{ 'Встреча' | trans }}:
        </label>
        <select id="select-event" data-selectize-placeholder="{{ "Выбрать" | trans }}..." multiple>
            {% for city, events in filters.events.available %}
                <optgroup label="{{ city | trans }}">
                    {% for event in events %}
                        <option value="{{ event.id }}">{{ event.city_name | trans }}, {{ event.date | date }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {% for event in filters.events.selected %}
            <div style="border: 1px solid lightgray; border-radius: 5px; padding: 6px; background-color: #eee; margin-bottom: 3px; ">
                {{ event.date | date }}, {{ event.city }}
                <span class="pull-right" style="width: 0; position: relative; left: -4px; top: -5px; font-size: 70%;">
                    <span style="position: absolute;" class="remove-event fa fa-times cursor-pointer" data-id="{{ event.id }}"></span>
                </span>
            </div>
        {% endfor %}
    </div>

    <div class="col-sm-2">
        <label for='select-lang'>
            {{ 'Язык' | trans }}:
        </label>
        <select id="select-lang" data-selectize-placeholder="{{ "Выбрать" | trans }}..." multiple>
            {% for lang in ['ru', 'uk', 'en', 'de', 'ro'] if lang not in filters.langs.selected %}
                <option value="{{ lang }}">{{ lang | humanize_language }}</option>
            {% endfor %}
        </select>
        {% for lang in filters.langs.selected %}
            <div style="border: 1px solid lightgray; border-radius: 5px; padding: 6px; background-color: #eee;">
                {{ lang }}
                <span class="pull-right" style="width: 0; height: 0; position: relative; left: -4px; top: -5px; font-size: 70%;">
                    <span class="remove-lang fa fa-times cursor-pointer" data-id="{{ lang }}"></span>
                </span>
            </div>
        {% endfor %}
    </div>
</div>
