{% extends 'shared/lecture-list.html.twig' %}

{% block page_title %}
    15x4 —
    {% if isFiltered %}
       {{ 'Выбранные лекции' | trans }}
    {% else %}
        {{ 'Все лекции' | trans }}
    {% endif %}
{% endblock %}

{% block listHeader %}
    <h1>
        <div class="row">
            <div class="col-sm-11">
                {% if isFiltered %}
                    {{ 'Выбранные лекции' | trans }}
                {% else %}
                    {{ 'Все лекции' | trans }}
                {% endif %}

                <span style="font-size: 70%;">
                    <small class="text-muted"><a style="color: gray;" href="{{ path("LectureListFeatured") }}">{{ 'Лучшие' | trans }}</a></small>
                    <small class="text-muted"><a style="color: gray;" href="{{ path("Fields") }}">{{ 'Дисциплины' | trans }}</a></small>
                    <small class="text-muted"><a style="color: gray;" href="{{ path("Tags") }}">{{ 'Теги' | trans }}</a></small>
                    <small class="text-muted"><a style="color: gray;" href="{{ path("Cities") }}">{{ 'Города' | trans }}</a></small>
                    <small class="text-muted"><a style="color: gray;" href="{{ path("Lecturers") }}">{{ 'Лекторы' | trans }}</a></small>
                </span>
            </div>

            <div
                id="toggle-filters"
                class="text-muted col-sm-1"
                data-title="Скрыть фильтры"
                data-toggle="collapse"
                data-target="#lecture-list-filters"
                data-expanded="1"
            >
                <i class="fa fa-arrow-circle-up"></i>
            </div>
        </div>
    </h1>

    <hr/>

    <div class="collapse in" id="lecture-list-filters">
        {% include 'lecture/filters.html.twig' %}
        <hr/>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@AppBundle/Resources/public/js/filter.js'
        '@AppBundle/Resources/public/js/share.js'
        '@AppBundle/Resources/public/js/like.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
