{% extends 'layout.html.twig' %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        'bundles/app/css/about.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="#learn-more">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-question-sign"></span>
                </a>
                <h3 class="anchor">{{ 'Что такое 15х4?' | trans }}</h3>
                <p>{{ 'Узнать о проекте больше' | trans }}</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#find-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-education"></span>
                </a>
                <h3 class="anchor">{{ 'Как нас найти?' | trans }}</h3>
                <p>{{ 'Все наши мероприятия бесплатны' | trans }}</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#initiation">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-grain"></span>
                </a>
                <h3 class="anchor">{{ 'Как стать лектором?' | trans }}</h3>
                <p>Share Your Knowledge!</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#help-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-heart"></span>
                </a>
                <h3 class="anchor">{{ 'Как стать волонтёром?' | trans }}</h3>
                <p>{{ 'Делай мир лучше вместе с нами' | trans }}</p>
            </div>
        </div>
        <hr/>
    </div>

    <div class="about-block" id="learn-more">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Что такое 15х4?' | trans }}</h2>
                        <h4>{{ 'Это движение и формат событий' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        {{ '15х4 – это формат открытых научно-популярных лекториев. Наши события – это 4 доклада по 15 минут на различные темы. ' | trans }}
                    </p>
                    <p>
                        {{ '15х4 — это движение молодых учёных и фанатов науки.' | trans }}
                        <br/>
                        {{ 'Мы хотим, чтобы люди выступали и делились знаниями.' | trans }}
                        <br/>
                        {{ 'Все наши мероприятия бесплатны, организуются и проводятся волонтёрами. Все лекции записываются и публикуются на официальном %sYouTube-канале%s сообщества. ' | trans | format('<a href="https://www.youtube.com/channel/UCMAr-94KkdtiSqHoRJCPK1Q">', '</a>') | raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="find-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как нас найти?' | trans }}</h2>
                        <h4>{{ 'Куда ходить на лекции и где следить за нашими новостями' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-education"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <p>
                            {{ 'Наши лектории проходят в России, Украине, Молдове и Германии - всего открыто больше 20 отделений, и  список постоянно растёт' | trans }}.
                            <br/>
                            {{ 'Больше о том, как и когда нас можно услышать и увидеть в твоем городе, ищи на страницах 15х4 в соцсетях' | trans }}:
                            <ul>
                                <li>
                                    <a href="https://vk.com/15x4talks">Vkontakte</a>
                                </li>
                                <li>
                                    <a href="https://fb.com/15x4talks">Facebook</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block" id="initiation">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как стать лектором?' | trans }}</h2>
                        <h4>{{ 'Если ты не учёный и никогда раньше не читал лекций – тоже можно' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-grain"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="initiation">
                <div class="col-lg-12">
                    <div>
                        <p>
                            {{ 'Мы хотим, чтобы люди выступали и делились знаниями. Поэтому наш лекторий открыт для всех, независимо от научной степени и опыта чтения лекций. Мы стараемся выдерживать баланс между лучшими лекторами и новыми лекторами. Работать с теми, кто ранее не выступал, одна из главных миссий проекта.' | trans }}
                        </p>
                        <p>
                            {{ 'Перед событиями мы собираемся на репетиции. Это нужно, чтобы доклад и презентация получились лучше/короче/интересней. Также на репетиции можно посоветоваться о том, чтобы скорректировать тему или взять больше времени на подготовку. ' | trans }}
                        </p>
                        <p>
                            {{ 'Если в твоем городе уже есть лекторий 15х4, найди свой город %sздесь%s и напиши координатору. '
                                | trans
                                | format('<a href="' ~ path('Contacts') ~ '">', '</a>')
                                | raw
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="help-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как стать волонтёром?' | trans }}</h2>
                        <h4>{{ 'Делай мир лучше вместе с нами' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="help-us">
                <div class="col-lg-12">
                    <div>
                        <p>
                            {{ 'Лектории 15х4 делаются силами волонтёров – лекторов, организаторов, техподдержки. Если ты умеешь снимать и монтировать видео, фотографировать, вести страницы в соцсетях, писать тексты, организовывать события, легко общаться с новыми людьми и просто хочешь нам помочь – пиши %sсюда%s.' | trans | format('<a href="' ~ path("Contacts") ~ '">', '</a>') | raw }}
                        </p>
                        <p>
                            {{ 'Мы активно ищем людей, чтобы открывать лектории в новых городах. Так что если в твоем городе еще нет 15х4, но очень хочется, пиши нам.' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

