{% extends 'layout.html.twig' %}

{% block styles %}
    {{ parent() }}

    {% stylesheets
        'bundles/app/css/about.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="#learn-more">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-question-sign"></span>
                </a>
                <h3 class="anchor">{{ 'Что такое 15х4?' | trans }}</h3>
                <p>{{ 'Узнать о проекте больше' | trans }}</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#find-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-education"></span>
                </a>
                <h3 class="anchor">{{ 'Как нас найти?' | trans }}</h3>
                <p>{{ 'Все наши мероприятия бесплатны' | trans }}</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#initiation">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-grain"></span>
                </a>
                <h3 class="anchor">{{ 'Как стать лектором?' | trans }}</h3>
                <p>Share Your Knowledge!</p>
            </div>

            <div class="col-lg-3 text-center">
                <a href="#help-us">
                    <span style="font-size: 15em;" class="glyphicon glyphicon-heart"></span>
                </a>
                <h3 class="anchor">{{ 'Как стать волонтёром?' | trans }}</h3>
                <p>{{ 'Делай мир лучше вместе с нами' | trans }}</p>
            </div>
        </div>
        <hr/>
    </div>

    <div class="about-block" id="learn-more">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Что такое 15х4?' | trans }}</h2>
                        <h4>{{ '15x4 — это научно-популярный проект, который делает мир лучше' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 7em;" class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <p>
                        {{ '15x4 — это некоммерческие мероприятия в городах Европы и СНГ' | trans }}.
                        {{ 'Мы проводим бесплатные образовательные встречи, на которых рассказывается по четыре научно-популярных лекции продолжительностью пятнадцати минут' | trans }}.
                    </p>
                    <p>
                        {{ 'Наша цель - продвигать идею популяризации науки и сделать знания более доступными' | trans }}.
                    </p>
                    <p>
                        {{ 'Все лекции записываются и публикуются на официальном %sYouTube-канале%s сообщества' | trans | format('<a href="https://www.youtube.com/channel/UCMAr-94KkdtiSqHoRJCPK1Q">', '</a>') | raw }}.
                    </p>
                </div>
                <div class="col-lg-5">
                    <iframe
                        width="457"
                        height="257"
                        src="https://youtube.com/embed/2zdfJoWn1Ok?html5=1&cc_load_policy=1&cc_lang_pref={{ app.session.get('locale') | default(default_locale) }}"
                        frameborder="0"
                        allowfullscreen
                    >
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="find-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как нас найти?' | trans }}</h2>
                        <h4>{{ 'Куда ходить на лекции и где следить за нашими новостями' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 6em;" class="glyphicon glyphicon-education"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div>
                        <p>
                            {{ 'Наши лектории проходят в России, Украине, Молдове и Германии - всего открыто больше 20 отделений, и  список постоянно растёт' | trans }}.
                            <br/>
                            {{ 'Больше о том, как и когда нас можно услышать и увидеть в твоем городе, ищи на страницах 15х4 в соцсетях' | trans }}:
                            <ul>
                                <li>
                                    <a href="https://vk.com/15x4talks">Vkontakte</a>
                                </li>
                                <li>
                                    <a href="https://fb.com/15x4talks">Facebook</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div style="width:457px; height:257px;" id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block" id="initiation">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как стать лектором?' | trans }}</h2>
                        <h4>{{ 'Необязательно быть учёным, чтобы спасти планету' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-grain"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="initiation">
                <div class="col-lg-12">
                    <div>
                        <p>
                            {{ 'Мы не смотрим на учёные степени и индекс Хирша — любой желающий может прийти в 15x4 и рассказать свою лекцию' | trans }}.
                            {{ 'Нам не важен возраст, опыт публичных выступлений, образование и другие формальности' | trans }}.
                            {{ 'в 15x4 нам важны люди' | trans }}.
                        </p>
                        <p>
                            {{ 'Чтобы лекции были максимально качественными мы проводим репетиции, делимся рекомендациями и помогаем на всех этапах подготовки' | trans }}.
                            {{ 'Если вы хотели бы рассказать свою тему — просто напишите %sкоординатору в вашем городе%s'
                                | trans
                                | format('<a href="' ~ path('Contacts') ~ '">', '</a>')
                                | raw
                            }}.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block alt" id="help-us">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{ 'Как стать волонтёром?' | trans }}</h2>
                        <h4>{{ 'Мы с вами — это и есть 15x4' | trans }}</h4>
                    </div>
                    <div class="col-lg-4 text-right">
                        <span style="font-size: 8em;" class="glyphicon glyphicon-heart"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="help-us">
                <div class="col-lg-12">
                    <div>
                        <p>
                            {{ 'Все наши лектории делаются усилиями волонтеров и энтузиастов' | trans }}.
                            {{ 'Мы всегда рады любой помощи, поэтому если вы хотите принять участие в работе — просто напишите кому-то из %sорганизаторов%s проекта.'
                                | trans
                                | format('<a href="' ~ path('Contacts') ~ '">', '</a>')
                                | raw
                            }}.
                            {{ 'Нам нужны не только люди, которые умеют снимать и монтировать видео, фотографировать, вести страницы в соцсетях, писать тексты, организовывать события или легко общаться с новыми людьми, но и те, кто готов этому учиться' | trans }}.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {#todo add cities automatically#}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
    <script type="text/javascript">
        var dnipro = {lat: 48.469042, lng: 35.050473};
        var zhitomir = {lat: 50.253379, lng: 28.654146};
        var kishenev = {lat: 47.012426, lng: 28.850615};
        var kiev = {lat: 50.446319, lng: 30.527165};
        var kna = {lat: 50.564954, lng: 136.979592};
        var lviv = {lat: 49.839754, lng: 24.029056};
        var moscow = {lat: 55.742327, lng: 37.596680};
        var munich = {lat: 48.133749, lng: 11.580279};
        var odessa = {lat: 46.479279, lng: 30.728945};
        var samara = {lat: 53.240858, lng: 50.199420};
        var spb = {lat: 59.930911, lng: 30.307180};
        var kharkov = {lat: 49.992741, lng: 36.240498};
        var khmelnitskiy = {lat: 49.421028, lng: 26.992167};
        var cheboksary = {lat: 56.111686, lng: 47.258903};
        var chernovtsy = {lat: 48.290205, lng: 25.935283};
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: kiev
            });
            new google.maps.Marker({ position: dnipro, map: map, title: '{{ "Днепр" | trans }}'});
            new google.maps.Marker({ position: zhitomir, map: map, title: '{{ "Житомир" | trans }}'});
            new google.maps.Marker({ position: kishenev, map: map, title: '{{ "Кишинёв" | trans }}'});
            new google.maps.Marker({ position: kiev, map: map, title: '{{ "Киев" | trans }}'});
            new google.maps.Marker({ position: kna, map: map, title: '{{ "Комсомольск-на-Амуре" | trans }}'});
            new google.maps.Marker({ position: lviv, map: map, title: '{{ "Львов" | trans }}'});
            new google.maps.Marker({ position: moscow, map: map, title: '{{ "Москва" | trans }}'});
            new google.maps.Marker({ position: munich, map: map, title: '{{ "Мюнхен" | trans }}'});
            new google.maps.Marker({ position: odessa, map: map, title: '{{ "Одесса" | trans }}'});
            new google.maps.Marker({ position: samara, map: map, title: '{{ "Самара" | trans }}'});
            new google.maps.Marker({ position: spb, map: map, title: '{{ "Санкт-Петербург" | trans }}'});
            new google.maps.Marker({ position: kharkov, map: map, title: '{{ "Харьков" | trans }}'});
            new google.maps.Marker({ position: khmelnitskiy, map: map, title: '{{ "Хмельницкий" | trans }}'});
            new google.maps.Marker({ position: cheboksary, map: map, title: '{{ "Чебоксары" | trans }}'});
            new google.maps.Marker({ position: chernovtsy, map: map, title: '{{ "Черновцы" | trans }}'});
        }
    </script>
{% endblock %}
