{%- spaceless -%}
<h4>
    {{- city | trans -}}
    <br/>
    <a href="{{ path('LectureByCity', { 'id': city.id } ) }}">{{ 'Лекции' | trans }} >></a>
    <br/>
    <a href="{{ path('Contacts', { 'city': city.id } ) }}">{{ 'Контакты' | trans }} >></a>
</h4>
{%- endspaceless -%}
